<style>
.proposal {font-weight: bold; color:#23297a ; font-size:30px;padding-top:75px; padding-bottom: 150px}
</style>

<div class = "page-header proposal ">
<center><h1>Bored of the dry gemology talk?</h1></center>
<center><h2>Humorous education coming soon!</h2></center>
</div>
