<div class = "col-sm-4">
<div class = "panel panel-default">
<div class = "panel-body">
  <center>
    <p class = "jobheader">Business Analyst:</p>
    <p class="jobbody"><em>Beginner business analyst<br></em></p>
  </center>
      <ul class = "jobbody">
        <li>Strong orientation towards math, statistics and logic</li>
        <li>Basic knowledge of Excel modeling</li>
        <li>Basic understanding of business concepts</li>
        <li>At-cause, go-getter, eager-to-learn attitude required</li>
        <li>Desire to make a HUGE <em>impact</em> in a mature industry required</li>
      </ul>
    </p>
</div>
</div>
</div>
