<div class = "col-sm-4">
<div class = "panel panel-default">
<div class = "panel-body">
  <center>
    <p class = "jobheader">Creative:</p>
    <p class="jobbody"><em>Beginner advertiser/marketer<br></em></p>
  </center>
      <ul class = "jobbody">
        <li>Strong orientation towards creatives with a purpose</li>
        <li>Basic knowledge of user-based design</li>
        <li>Basic understanding of digital marketing</li>
        <li>At-cause, go-getter, eager-to-learn attitude required</li>
        <li>Desire to make a HUGE <em>impact</em> in a mature industry required</li>
      </ul>
    </p>
</div>
</div>
</div>
