<center>
<h3 class="typeface">Now Hiring for <strong>Summer 2015</strong> <em>learning experience internships</em></h3>
<p class="typeface2">Email your resume and cover letter to sarakclay@gmail.com</p>
<p class="typeface3"><strong>Openings in the following areas...</strong></p>
<br>
</center>


<%=render "coding"%>
<%=render "analyst"%>
<%=render "creative"%>

