<h1>New tag</h1>

<form action="/tag/create">

  <div class ="form-group">
     <input name ="tag" type="string" class="form-control input-md" placeholder ="New tag">
  </div>

  <input type ="submit" class = "btn btn-lg btn-success" value="Enter New Tag">

</form>


<br>
<br>
