<style>
.proposal {font-weight: bold; color:#dc143c; font-size:30px;padding-top:75px; padding-bottom: 175px}
</style>

<div class = "page-header proposal ">
<center><h1>Proposals stories coming soon</h1></center>
</div>
