<h1>New Category</h1>

<form action="/blogcategory/create">

  <div class ="form-group">
    <input name ="category" type="string" class="form-control input-md" placeholder ="New Category">
  </div>

  <input type ="submit" class = "btn btn-lg btn-success" value="Enter New Category">

</form>
