<p class ="jewelryscam">Addison Carlyle Diamonds is a <strong>trusted</strong> and <strong>reliable</strong> online market for <em>buying and selling pre-owned engagement rings</em>.</p>
<br>
<p class="jewelryintro">The idea for Addison Carlyle Diamonds was born from the realization that there is missing value in the engagement ring market.</p>
<br>
<p class="jewelryintro">As it stands, no go-to forum exists that empowers consumers to resell their pre-owned engagement rings. As such, consumers are limited to selling their items back to a jeweler, often at a steep discount (only recouping 20-40% of the original purchase price). Because diamonds do not depreciate, <span class="jewelryscam">jewelers often take pre-owned pieces, reset the stone and sell it as new at full price without informing the consumer that the diamond was repurposed</span>. In order to avoid this scheme and get a better price for their diamonds, some individuals endeavor to sell their pieces on existing marketplaces such as eBay and craigslist.  We believe that seller trust issues have prevented pre-owned jewelry from becoming a demanded option by engagement ring buyers.</p>
<br>
<p class="jewelryintro">Addison Carlyle Diamonds provides this missing layer of <span class="jewelryscam">trust</span> to ensure engagement ring buyers are getting quality jewelry and <span class="jewelryscam">know exactly what they are buying</span>. We take extra care to ensure certification for all inventory hosted on this site, offer a <span class="jewelryscam">30 Day return policy</span> and work efficiently to get your ring shipped to you as quickly as possible.  We're here to serve savvy men looking to purchase the highest quality stone or ring at the most affordable price.  </p>
<br>
<p class="jewelryintro">Let us know if you are interested in <a href="/diamonds"><span class="jewelryscam">Selling</span></a> or <a href="/diamonds"><span class="jewelryscam">Buying</span></a> a <em>pre-owned engagement ring</em>!
