<div class = "col-sm-6 clearfix">
<div class = "panel panel-default">
<div class = "panel-body">
  <center><h4><strong>Buyers</strong></h4></center>
    <form action="/diamonds/buycreate">
      <div class ="form-group my-group">
        <input name ="first_name" type="string" class="form-control input-md" placeholder ="First Name">
      </div>
      <div class ="form-group">
        <input name ="last_name" type="string" class="form-control input-md" placeholder ="Last Name">
      </div>
      <div class ="form-group">
        <input name ="phone" type="string" class="form-control input-md" placeholder ="Phone Number">
      </div>
      <div class ="form-group">
        <input name ="email" type="string" class="form-control input-md" placeholder ="Email">
      </div>
      <div class ="form-group">
        <textarea name ="ring_description" type="text" class="form-control input-md" placeholder ="Tell us about the ring that will make your girlfriend happy.  Diamond shape?  Diamond carat (fancy word for size)?  Your budget?"></textarea>
      </div>
      <input type ="submit" class = "btn monkey" value="Contact A&C">
    </form>
</div>
</div>
</div>
