<center><h4>We're working <strong>hard</strong> to find the best <strong>engagement rings</strong>.</h4></center>
<center><h6>Let us know if you're <strong>interested</strong> in <em>selling or buying a pre-owned engagement ring</em>!</h6></center>
<br>

<div class = "row">
  <%=render "sellercontact"%>
  <%=render "buyercontact"%>
</div>

